* {
    box-sizing: border-box;
}

:root {
    --primary: lightslategray;
    --secondary: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: red;
    color: var(--secondary);
    font-size: 50px;
}

.navbar-brand {
    font-size: 50px;
}


.card-header {
    background-color: blue;
    color: var(--secondary);
}

.card-body {
    background-color: white;
    color: var(--primary);
}

.container {
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;
    
}